{% extends "base.html" %} {% block title %}Business Raccoon | Home{% endblock %} {% block content
%}
<h1 align="center">Business Raccoon</h1>
<h3 align="center">Here for all your business taxing needs!</h3>
<ul class="list-group list-group-flush" id="notes">
<br>
<br>
<p align="left">
  Business Raccoon is a service you can use to assess the taxing needs of your business. 
  Just give us the title of your business and we'll assess the appropraite course of action for your business based on historical data of other businesses similar to yours.
</p>
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
