{% extends "base.html" %} {% block title %}Business Raccoon | Meet the Devs{% endblock %} {% block content
%}
<h1 align="center">Meet the Developers</h1>
<h2 align="center">Here for all your developement needs!</h2>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<div align="center" class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="HORIZONTAL" data-vanity="jubin-joseph-5b9428264" data-version="v1">
  <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/jubin-joseph-5b9428264?trk=profile-badge">Jubin Joseph</a>
</div>
              

<form method="POST">

</form>
{% endblock %}