{% extends "base.html" %} {% block title %}Business Raccoon | MSB Form{% endblock %} {% block content
%}
<h1 align="center">Money Services Business Form</h1>
<br>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
  {{ note.data }}
  <button type="button" class="close" onClick="deleteNote({{ note.id }})">
    <span aria-hidden="true">&times;</span>
  </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <div class="form-group">
    <label for="email">First Name:</label>
    <input
      type="text"
      class="form-control"
      id="fname"
      name="fname"
      placeholder="Enter First Name"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Last Name:</label>
    <input
      type="text"
      class="form-control"
      id="lname"
      name="lname"
      placeholder="Enter Last Name"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Email:</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      placeholder="Email"
    />
  </div>
  <div class="form-group">
    <label for="password2">Name of Business</label>
    <input
      type="text"
      class="form-control"
      id="bname"
      name="bname"
      placeholder="Business Name"
    />
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
  <br/>
  <br/>
  <p>Is your MSB eligible for 405? See what our algorithm says!</p>
  <output>It is ___ likely it is!</output>
{% endblock %}